<h2 class="ui center aligned header">
  Welcome to MessageMe <i class="inline-block red fitted coffee icon"></i> - a Chat App
</h2>
<h3 class="ui center aligned header">
  <i class="blue power off icon"></i>
  Let's get started...
</h3>
<h4 class="ui center aligned header">
  Create a username and password
</h4>

<%= form_with(model: @user, local: true, class: "") do |f| %>
<div class="ui centered padded grid">
  <div class="eight wide column">
  <div class="ui red raised segment">
    <form class="ui form">
      <div class="field">
        <label>Username:</label>
        <div class="ui input focus">
          <input type="text" name="username" placeholder="Enter a username">
        </div>
      </div>

      <div class="field">
        <label>Password:</label>
        <input type="text" name="password" placeholder="Create a password">
      </div>

      <button class="ui red button" type="submit">Submit</button>
      <%= f.submit(@user.new_record? ? "Sign up" : "Update Profile") %>
    </form>
  </div>
</div>
</div>
