<h2 class="align-center">This is the MessageMe About page</h2>
<div class="container col-6">
  MessageMe was written by this old guy as part of a course.<br>
  He is the founder of: <span class="em">&copy;Some Guy&trade;</span>
    <span class="fw-normal"> S/W Productions</span>
</div>



<div class="container col-6">
  MessageMe is a web application for hosting users' chat sessions.<br>
  It is written in Ruby on Rails.
</div>

