<div class="ui inverted small menu">
  <div class="ui container">
    <a class="link item">
      <%= link_to "Chatroom", chatroom_path, class: "red active item" %>
    </a>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Account<i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">Log in</a>
          <a class="item">Log out</a>
        </div>
      </div>
      <div class="item">
        <%= link_to "Sign up", signup_path, class: "ui primary button" %>
      </div>
      <div class="link item">
        <%= link_to "About", about_path, class: "ui inverted primary button" %>
      </div>
    </div>
  </div>
</div>
